.carta-products {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    // grid-template-rows: repeat(2 , 100px); {
    grid-auto-rows: auto;
    padding: 0 1.875rem;
    row-gap: 2.1875rem;
    margin: 1.75rem 0 4.625rem 0;
}
@media (min-width: 601px) {
    .carta-products {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 33px;
    }
}
@media (min-width: 1061px) {
    .carta-products {
        grid-template-columns: repeat(3, 1fr);
    }
}