* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.ContenedorPrincipal {
	position: relative;
	max-width: 100%;
	margin: 0px auto;
	overflow: hidden;
}
	
.ContenedorSlideshow {
	display: flex;
	flex-wrap: nowrap;
}

.Slide {
	min-width: 100%;
	overflow: hidden;
	transition: .3s ease all;
	z-index: 10;
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: top;
}

.Controles {
	position: absolute;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.Boton {
	pointer-events: all;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	width: 50px;
	height: 100%;
	text-align: center;
	position: absolute;
	transition: .3s ease all;
}

.right {
	right: 0;
    filter: drop-shadow(-2px 0px 0px #fff);
}

.left {
	left: 0;
    filter: drop-shadow(2px 0px 0px #fff);
}