.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  height: 67px;
  padding: 0 10px;
  align-items: center;
  /*width: 100vw;*/
  gap: 0.8rem;
  background-color: white;
  
  &__button-menu {
    display: flex;
    font-size: 1.75rem;
    color: #ff0000;

    &.active {
      font-size: 2.4rem;
    }
  }
  
  &__logo-container {
    height: 30px;
    width: 189px;
  }
  
  &__logo {
    height: inherit;
  }
  
  &__button-login {
    padding: 9px 13px;
    display: flex;
    justify-self: flex-end;
    background-color: #ff0000;
    border-radius: 3px;
    
    &-text {
      font-family: silka-semibold,Helvetica,Arial,sans-serif;
      color: white;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.42857143;
    }
  }

  &__menu {
    width: calc(100% - 70px);
    height: 100vh;
    position: absolute;
    transform: translatex(-100%);
    transition: trasform 0.5s ease-in-out;
    top: 0;
    left: 0;
    background: #3b3d40;
    box-shadow: inset -8px 12px 13px rgb(0 0 0 / 32%);
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    
    &-image-container {
      box-shadow: inset -14px 0 18px -10px rgb(0 0 0 / 32%);
      background-color: white;
      width: 100%;
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-image {
      
    }

    &-list {
      color: white;
      display: flex;
      flex-direction: column;
      padding: 39px 0 25px;

      &-item {
        padding: 10px 16px;
        font-family: silka-medium,Helvetica,Arial,sans-serif;
        font-size: 17px;
        line-height: 1.42857143;
        
      }
    }
    
    &-link {
    }
    
    &-recognitin {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      
      &-title {
        font-family: silka-medium,Helvetica,Arial,sans-serif;
        font-size: 17px;
        line-height: 1.42857143;
        margin-bottom: 8px;
      }

      &-list {
        display: flex;
        justify-content: center;
        gap: 18px;
        align-items: center;
        margin-bottom: 10px;

        &-item:nth-child(1) {
          .nav__menu-recognitin-link-image {
            height: inherit;
            width: 44px;
            filter: brightness(141%);
          }
        }

        &-item:nth-child(2) {
          .nav__menu-recognitin-link-image {
            height: 49px;
            width: 62px;
            filter: brightness(141%);
          }
        }
      }

      &-link {
        height: 50px;
      }
      
    }

    &-follow {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      // align-self: flex-end;

      &-title {
        font-family: silka-medium,Helvetica,Arial,sans-serif;
        font-size: 17px;
        line-height: 1.42857143;
        margin-bottom: 12px;
      }

      &-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
        margin-bottom: 35px;

        &-item {
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          margin-bottom: 8px;
          padding-top: 2px;
        }
      }

      &-link {
        color: #3b3d40;
        font-size: 1.4rem;
      }
    }
  }
}
