@font-face {
  font-family: silka-black;
  src: url('./assets/fonts/3383efa.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-bold;
  src: url('./assets/fonts/4dc823e.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-extralight;
  src: url('./assets/fonts/bee7e0c.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-light;
  src: url('./assets/fonts/14fe374.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-medium;
  src: url('./assets/fonts/d9802b8.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-regular;
  src: url('./assets/fonts/36e009d.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-semibold;
  src: url('./assets/fonts/a865393.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: silka-thin;
  src: url('./assets/fonts/69b3497.woff') format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

:root {
  --primary-theme-color: #fafafa;
  --secondary-theme-color: #ff0000;
  --text-color: #676767;
  --primary-highlight: #444444;
  --border-radius: 0.25rem;
}

.body {
  background-color: var(--primary-theme-color);
  color: var(--primary-highlight);
  margin: 0;
  transition: transform 0.5s ease-out;
}
.body.menu-open {
  transform: translateX(calc(100% - 70px));
  overflow-x: hidden;
}
